#end-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin-top: 30px;
  width: 200px;

  padding: 15px;
  row-gap: 10px;

  border: 4px solid black;
  background-color: white;

  font-size: 2rem;
}

#end-menu button {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: rgb(251, 107, 107);
  padding: 10px;
  border-radius: 25px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.64);

  cursor: pointer;
}

#end-menu button:hover {
  color: rgb(251, 107, 107);
  background-color: white;
}