#footer {
  /* align-self: flex-end; */
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  /* margin-bottom: 10px; */

  font-size: 1rem;
}

#footer img {
  height: 1.5rem;
  width: auto;
}

.footer-align-items-center {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

#footer a {
  text-decoration: none;
  color: var(--black);
}