:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --red: #e53935;
  --black: #000000;
  --white: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  /* display: flex; */
  min-height: 100vh;

  background-image: url("./assets/pokemon_background.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}


.red-text {
  color: var(--red);
}

.black-text {
  color: var(--black);
}

.white-text {
  color: var(--white);
}

